/* Section styles */
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100%;

  background-image: url("../../assets/images/dispatcher.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20%;
}
